* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: 'Mulish', sans-serif;
  color: #333333;
  background-color: #F5FAFE;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #ffffff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-top__search-form {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-top__menu-button {
  display: none;
}

.navbar-bottom {
  background-color: #0a223d;
  padding-top: 31px;
  padding-bottom: 31px;
}

.navbar-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-bottom__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.logo {
  width: 177px;
}

.search-form {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  height: 40px;
}

.search-form__input {
  background-color: #f5fafe;
  width: 350px;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  background-color: #EC1F46;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.bread-crumb {
  padding: 18px 0;
}

.bread-crumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bread-crumb__item {
  font-size: 10px;
}

.bread-crumb__item:not(:last-child)::after {
  content: '/';
  margin: 0 4px;
}

.bread-crumb__link {
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}

.hotel-info__name {
  margin-top: 4px;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
  color: inherit;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars__item {
  margin-right: 2px;
}

.offer {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  color: #FFFFFF;
  background-color: #EC1F46;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.rating {
  /* max-width: 65px;
    min-height: 45px; */
  padding: 8px;
  background-color: #EC1F46;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.rating__text {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

.rating__counter {
  margin-top: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.rating__min {
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
}

.swiper {
  width: 100%;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.swiper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: -webkit-linear-gradient(top, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  background: -o-linear-gradient(top, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.swiper-slide {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider {
  max-width: 728px;
}

.slider-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 100;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.slider-button--next {
  right: 18px;
  background-image: url("../../img/arrow-next.svg");
}

.slider-button--prev {
  left: 18px;
  background-image: url("../../img/arrow-prev.svg");
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding: 30px 0;
  }
  .navbar-top__search-form {
    margin-left: auto;
  }
  .navbar-bottom {
    padding: 22px 0;
  }
  .navbar-bottom__link {
    font-size: 12px;
    line-height: 15px;
  }
  .search-form__input {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 570px;
    width: 95%;
  }
  .navbar-top__search-form, .navbar-top__user {
    display: none;
  }
  .navbar-bottom {
    display: none;
  }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 31px;
    height: 31px;
    padding: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
  }
  .stars {
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
}
/*# sourceMappingURL=style.css.map */