.hotel {
    padding-top: 23px;
    padding-bottom: 70px;
    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        &__offer {
            margin-left: 14px;
            margin-top: 4px;
        }
        &__name {
            margin-top: 4px;
        }
    }
    &-name {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
    }
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-description {
        font-size: 12px;
        line-height: 15px;
        color: inherit;
    }
}
.stars {
    flex-basis: 100%;
    display: flex;
    &__item {
        margin-right: 2px;
    }
}
.offer {
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    padding: 4px 9px;
    color: #FFFFFF;
    background-color: $color-primary;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.rating {
    /* max-width: 65px;
    min-height: 45px; */
    padding: 8px;
    background-color: $color-primary;
    text-align: center;
    color:#FFFFFF;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    -webkit-border-radius:4px;
    &__text {
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
    }
    &__counter {
        margin-top: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }
    &__min {
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
    }
}
.swiper {
    width: 100%;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    }
    &-slide {
        object-fit: cover;
    }
}
.slider {
    max-width: 728px;
    &-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        z-index: 100;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        &--next {
            right: 18px;
            background-image: url("./../img/arrow-next.svg");
        }
        &--prev {
            left: 18px;
            background-image: url("./../img/arrow-prev.svg");
        }
}
}